:root {
  --primary_color: #234e70;
  --primary_lt_color: #e6dbd0;
  --secondary_color: #faf5bf;
  --forth_color: #584835;
  --secondary_lst_color: #a7a2aa62;
  --tertiary_color: #ffa806;
  --registration_color: #efedee;
  --black: #222;
  --white: var(--white);
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary_color);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  border-bottom: 1px solid var(--secondary_color);
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.logo {
  cursor: default;
  font-family: "Passions Conflict", cursive;
  text-decoration: none;
  pointer-events: none;
  color: var(--tertiary_color);
  font-size: clamp(30px, 3.5vw, 4rem);
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary_color);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .header .logo {
  color: var(--primary_color);
}

.sticky .header .main-nav-link:link,
.sticky .header .main-nav-link:visited {
  color: var(--forth_color);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.icon-mobile-nav {
  color: #bebebe;
}

/* ALERT */
.event-alert .alert {
  text-align: center;
  padding-block: 2rem;
  padding-block-start: 4rem;
  font-size: 1.8rem;
  margin-top: -3rem;
  z-index: -1;
  line-height: 1.4;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: var(--primary_color);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  text-align: center;
  color: var(--tertiary_color);
}

.hero-tamil-txt {
  font-weight: 400;
  color: var(--registration_color);
  line-height: 1.5;
  font-size: 2.4rem;
  font-weight: 500;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--primary_color);
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--registration_color);
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************************/
/* ABOUT */
/**************************/

.section-about {
  padding: 9.6rem 0;
  /* padding-bottom: 0; */
  background-color: #fff;
}

.cls-about-description {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: justify;
}

.cls-temple-link a {
  font-size: 1.3rem;
}

.event-img {
  width: 50rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  /* overflow: hidden; */
}

.event-img img {
  border-radius: 2rem;
  width: 100%;
  transition: all 0.4s;
}

.event-img img:hover {
  scale: 1.1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
  background-color: var(--primary_lt_color);
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: justify;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  /* background-color: #bebebe; */
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img-box span {
  font-size: 22rem;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: var(--primary_color);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
  color: var(--primary_lt_color);
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--secondary_color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  max-height: 215px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* MEALS SECTION */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
  background-color: #fff;
}

.section-members {
  background-color: #fff;
  padding-bottom: 9.6rem;
}

.pricing-plan {
  border-radius: 11px;

  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--primary_color);
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: var(--primary_color);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--primary_color);
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.trustee-div {
  width: 100px;
  height: 100px;
  border-radius: 25%;
  overflow: hidden;
  margin-bottom: 20px;
}

.trustee-div img {
  width: 100%;
}

.feature {
  border: 1px solid var(--primary_color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s;
}

.feature:hover {
  scale: 1.1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-desc {
  font-size: 1.4rem;
}

.feature-title-desc {
  font-weight: 900;
  margin-block: 10px;
  font-size: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.4;
}

.feature-mobile {
  margin-top: 10px;
}

/**************************/
/* PROCEDURE */
/**************************/

.section-procedure {
  padding: 9.6rem 0;
  background-color: var(--primary_color);
  /* margin-top: 6rem; */
}

.procedure-container {
  padding: 0 3.2rem;
}

.cls-procedures li {
  font-size: 2rem;
  list-style: square;
  margin-bottom: 20px;
  margin-left: 20px;
  line-height: 1.3;
  color: var(--registration_color);
}

/**************************/
/* LAST YEAR */
/**************************/

#last-year {
  padding: 9.6rem 0;
}

.section-lastyear {
  --childs: 5;
  width: 100%;
  height: 100%; /* Adjust as needed to fit the viewport */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust gap between boxes */
  align-items: stretch; /* Stretch boxes to fill height */
}

.section-lastyear .box {
  flex: 1 1 calc(100% / var(--childs)); /* Flexible width */
  aspect-ratio: 1; /* Maintain square shape */
  background-color: white;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: flex-grow 300ms ease-in-out;
}

.section-lastyear .box:hover {
  flex-grow: 2; /* Expand hovered box */
}

.section-lastyear .box:not(:hover) {
  flex-grow: 1; /* Shrink non-hovered boxes */
}

/* Specific box images */
.section-lastyear .box-1 {
  background-image: url("https://thiruvadhigai-natyanjali.github.io/sign-up/static/2025/chief-guest.jpg");
}

.section-lastyear .box-2 {
  background-image: url("https://thiruvadhigai-natyanjali.github.io/sign-up/static/2025/dance1.jpg");
}

.section-lastyear .box-3 {
  background-image: url("https://thiruvadhigai-natyanjali.github.io/sign-up/static/2025/dance2.jpg");
}

.section-lastyear .box-4 {
  background-image: url("https://thiruvadhigai-natyanjali.github.io/sign-up/static/2025/chief-guest3.jpg");
}

/* .section-lastyear .box-5 {
  background-image: url("https://a-static.besthdwallpaper.com/tom-clancy-s-ghost-recon-wildlands-wallpaper-2800x2100-2655_28.jpg");
} */

/* Responsive Layout */
@media screen and (max-width: 1200px) {
  .section-lastyear {
    --childs: 3;
  }
}

@media screen and (max-width: 992px) {
  .section-lastyear {
    --childs: 2;
  }
}

@media screen and (max-width: 768px) {
  .section-lastyear {
    --childs: 1;
  }
}

/**************************/
/* GUIDELINES */
/**************************/

.section-guidelines {
  padding: 9.6rem 0;
  background-color: #fff;
}

.guidelines-container {
  padding: 0 3.2rem;
}

.cls-guidelines li {
  font-size: 2rem;
  list-style: square;
  margin-bottom: 20px;
  margin-left: 20px;
  line-height: 1.3;
}

/**************************/
/* GOOGLE FORM SECTION */
/**************************/

.section-registration {
  padding: 9.6rem 0;
  background-color: var(--primary_color);
}

.registration-container {
  padding: 0 3.2rem;
}

.registration-container iframe {
  width: 100%;
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--primary_color);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  padding-bottom: 6rem;
  border-top: 1px solid #eee;
  background-color: #fff;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr;
  margin-bottom: 0 !important;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  /* margin-bottom: 3.2rem; */
  cursor: default;
  font-family: "Passions Conflict", cursive;
  text-decoration: none;
  pointer-events: none;
  color: var(--tertiary_color);
  font-size: clamp(30px, 3.5vw, 4rem);
}

.footer-img {
  width: 30rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  /* overflow: hidden; */
}

.footer-img img {
  border-radius: 2rem;
  width: 100%;
  transition: all 0.4s;
}

.footer-img img:hover {
  scale: 1.05;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  /* padding-inline: 9.6rem; */
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: square;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 5px;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/*  */
/* ---- Go up btn ---- */
#go-up-button {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#go-up-button::after {
  content: "\e5d8";
  font-family: Material Icons;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: var(--primary_color);
}
#go-up-button:hover {
  cursor: pointer;
  background-color: #333;
}
#go-up-button:active {
  background-color: #555;
}
#go-up-button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #go-up-button {
    margin: 30px;
  }
}
